<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Write Encode</title>
  <link rel="stylesheet" href="../static/style.css">
</head>


<body>
  <h1 id="heading">Write Encode Translator</h1>
  <div id="intro"> <h3 >What is Morse code?</h3><p>Morse code is a type of code that is used to send telegraphic information using rhythm.
    Morse code is named after Samuel Morse, who helped invent it. It is not used as much today as it was in the 19th and 20th centuries. Teletypewriters were invented in the early 20th century with their own codes and gradually replaced Morse code. </p>

    <h3>What Is Binary Code?</h3><p>
      Binary is a base-2 number system representing numbers using a pattern of ones and zeroes.Binary numbers consist of a series of eight "bits," which are known as a "byte." A bit is a single one or zero that makes up the 8 bit binary number. Using ASCII codes, binary numbers can also be translated into text characters for storing information in computer memory. Check it out below</p>
</div>  
<!-- landing/base page -->
<div id='monkeyface'>
<div id='center'></div>
<div id='left-cheek-ball-1'></div>
<div id='left-cheek-ball-2'></div>
<div id='left-cheek-ball-3'></div>
<div id='right-cheek-ball-1'></div>
<div id='right-cheek-ball-2'></div>
<div id='right-cheek-ball-3'></div>
<div id='left-ear'></div>
<div id='left-ear-wax'></div>
<div id='left-ear-plug'></div>
<div id='right-ear'></div>
<div id='right-ear-wax'></div>
<div id='right-ear-plug'></div>
<div id='top-hair'></div>
<div id='top-hair-mask'></div>
<div id='head'></div>
<div id='cheeks'></div>
<div id='receding-hairline-1'></div>
<div id='receding-hairline-2'></div>
<div id='receding-hairline-3'></div>
<div id='receding-hairline-4'></div>
<div id='left-eye-socket'></div>
<div id='right-eye-socket'></div>
<div id='mouth-socket'></div>
<div id='right-eye'></div>
<div id='right-numbers'>
  <p>&nbsp;&nbsp;01</p>
  <p>1001</p>
  <p>1101</p>
  <p>&nbsp;011</p>
</div>
<div id='left-eye'></div>
<div id='left-numbers'>
  <p>&nbsp;&nbsp;011</p>
  <p>0101</p>
  <p>0100</p>
  <p>&nbsp;&nbsp;&nbsp;01</p>
</div>
<div id='hitler-mustache'></div>
<div id='left-nose'></div>
<div id='left-nose-shadow'></div>
<div id='left-nose-hole'></div>
<div id='right-nose'></div>
<div id='right-nose-shadow'></div>
<div id='right-nose-hole'></div>
<div id='left-lip'></div>
<div id='right-lip'></div>
<div id='jay-leno-left'></div>
<div id='jay-leno-right'></div>
<div id='mouth'></div>
<div id='tongue'></div>
<div id='tongue-shadow'></div>
<div id='jay-lenno-mask'></div>
</div>

<!-- translator field -->
<div class="container1">
  <div class="data">
    <h1>Translate to BINARY or Morse Code</h1>
  
  <form method=“POST” action=“{% url 'translator' %}“>
    {% csrf_token %}
    {{ input_form }}
    <input type="submit" name="binary" value="Translate to Binary"/>
    <input type="submit" name="morse" value="Translate to Morse"/>
</form>
</div> <!-- end container -->
</div>
  {% comment %} Output field {% endcomment %}
 
 
 <div class="container2">
  <div class="data">
    <h1>Output</h1>
{% comment %}   
  <div class="data">
   <textarea></textarea>
  </div>  {% endcomment %}
  
    <button class="button click">Clear field</button>  
    <button class="button click" a href="src">View history</button>
   </div>
  </div>
   <!-- end container -->
</body>
</html>
