{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Write Encode</title>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css'><link rel="stylesheet" href="../static/style.css">
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body >
<!-- App - Main Body -->
<h2 class="text-center">New kids on the Blockchain</h2>
<div class="startScreen" > </div>
<div class="text-center">
 

    <p>Morse code is an old system of encoding messages that is used to send telegraphic information using signals and rhythm. In written communication, Morse code uses dots and dashes to represent a limited number of alphabet letters, numbers, punctuation and special characters of a given message.</p>


    <p>Binary describes a numbering scheme in which there are only two possible values for each digitBinary describes a numbering scheme in which there are only two possible values for each digit-0 or 1</p>

  <button class="btn translateNow"> Translator</button>
</body>
</html>


