{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Write Encode</title>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css'><link rel="stylesheet" href="../static/style.css">
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
<!-- App - Menu -->
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="/">Write Encode</a>
    <form class="form-inline my-2 my-lg-0 ml-auto"></form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
    </ul>
  </nav> {% endcomment %}

<!-- App - Main Body -->

<div class="startScreen text-center">
  <h1 class="text-center">New kids on the Blockchain</h1>
  <h2 class="text-center">Explore the world of Code!</h2>
  <button class="btn translateNow">Pick Your Translator!</button>
  <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>

</div>
<form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"
          ><i class="fas fa-user"></i
        ></span>
      </div>
      <input
        type="text"
        name="Binary"
        placeholder="enter word or phrase"
        class="form-control"
      />
    </div>
    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"
          ><i class="fas fa-key"></i
        ></span>
      </div>
      <input
        type="text"
        name="Morse Code"
        placeholder="enter word or phrase"
        class="form-control"
      />
    </div>

    <div class="d-flex justify-content-center mt-3 login_container">
      <input class="btn login_btn" type="submit" value="translate" />
    </div>
  </form>
</body>
</html>


