{% load static %}

<!DOCTYPE html>

<html>
    <head>

        <link rel="stylesheet" href="{% static '../static/style.css' %}">
  
    </head>
    <body>
<h1>Translate</h1>
<form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"
          ><i class="fas fa-user"></i
        ></span>
      </div>
      <input
        type="text"
        name="Binary"
        placeholder="enter word or phrase"
        class="form-control"
      />
    </div>
    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"
          ><i class="fas fa-key"></i
        ></span>
      </div>
      <input
        type="text"
        name="Morse Code"
        placeholder="enter word or phrase"
        class="form-control"
      />
    </div>

    <div class="d-flex justify-content-end mt-3 ">
        <div class="container-fluid row">
            <div class="col-6"></div>
            <div class="col-6">
              <div class="buttons btn-group-vertical">
                <a href="{% url 'translator' %}">
                  <button class="landing-btn btn-md"><span>Translate to Morse Code</span></button>
                </a>
                <a href="{% url 'translator' %}">
                    <button class="landing-btn btn-md"><span>Translate to binary Code</span></button>
                  </a>
                <a href="{% url 'history' %}">
                  <button class="landing-btn btn-md"><span>View HIstory</span></button>
                </a>
              </div>
            </div>
        
          </div>

    </div>
  </form> 
    </body>
</html>